echo __pycache__/>> .gitignore
echo *.pyc>> .gitignore
echo devtools/logs/>> .gitignore
echo *.json.dump>> .gitignore
echo .venv/>> .gitignore
echo venv/>> .gitignore
echo *.log>> .gitignore
echo .env>> .gitignoreproduct_matching/
